.arrows{
    background: #FFFFFF;
    padding: 9px 41px;
    margin: 0;
    margin-right: -9px;
    border: 1px solid #ECECEC;
    cursor: pointer;
}

@media (min-width: 768px) {
    .arrows{
        border: none;
        margin-right: 18px;
        padding: 16px 9px;
    }
}