.button{
    background-color: #fff;
    padding: 14px 81px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    border: 2px solid #444444;
    cursor: pointer;
    &-closed{
        display: none;
        width: 21px;
        height: 20px;
    }
    &-opened{
        display: block;
        width: 21px;
        height: 20px;
    }
    &:hover{
        background-color: #444444;
        color: #FFFFFF;
    }
    &:active{
        color: rgba(255, 255, 255, .3);
    }
}