.catalog-products{
    padding: 30px 30px 0 30px;
    &__item{
        border: 1px solid #ECECEC;
        margin-bottom: 29px;
        &-list{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        & svg{
            opacity: .2;
        }
        &:hover{
            box-shadow: 0px 6px 10px rgba(0, 0, 0, .10);
        }
        &:hover svg{
            fill: #63D1BB;
            opacity: 1;
        }
        &:active{
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        }
        &:active svg{
            opacity: .3;
        }
    }
    &__title{
        font-size: 17px;
        line-height: 24px;
        margin: 0;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }
        &:active{
            opacity: 0.3;
        }
    }
    &__subtitle{
        margin-top: 6px;
        font-size: 11px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ECECEC;
    }
    &__wrapper{
        margin: 20px 26px 21px 29px;
    }
    &__price{
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        &-container{
            margin-left: 29px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 21px;
        }
    }
    &__image{
        width: 260px;
        height: 195px;
        object-fit: cover;
        margin-left: -1px;
    }
}

@media (min-width: 768px) {
    .catalog-products{
        &__item{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin: 0 24px 53px 18px;
            &-list{
                margin-top: 51px;
            }
        }
        &__image{
            grid-column: 1;
            grid-row: 1/5;
            width: 334px;
            height: 334px;
            object-fit: cover;
        }
        &__wrapper{
            padding: 26px 49px 0 32px;
            grid-column: 2;
            grid-row: 1;
            margin: 0;
            &-last{
                padding-top: 25px;
                margin-bottom: -25px;
            }
        }
        &__price{
            font-size: 18px;
            &-container{
                grid-column: 2;
                grid-row: 4;
                padding: 28px 0 1px 0;
                margin-left: 30px;
                margin-right: 30px;
                border-top: 1px solid #ECECEC;
            }
        }
        &__title{
            font-size: 20px;
        }
        &__subtitle{
            margin: 0;
            font-size: 15px;
            padding-bottom: 0;
            border: none;
            padding-top: 3px;
        }
        &__basket{
            margin-right: 0;
        }
    }
}

@media (min-width: 1150px) {
    .catalog-products{
        &__item{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr min-content min-content;
            margin: 0;
            &-list{
                margin-top: 99px;
                display: grid;
                grid-template-columns: 316px 316px 316px;
                gap: 52px;
                margin-left: 15px;
            }
        }
        &__image{
            grid-column: 1;
            object-fit: cover;
            grid-row: 1;
            height: 100%;
            width: 100%;
        }
        &__wrapper{
            grid-column: 1;
            grid-row: 2;
            padding: 20px 50px 32px 29px;
        }
        &__price{
            &-container{
                grid-column: 1;
                grid-row: 3;
            }
        }
    }
}