@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2");
  src: url("../../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}
