.footer{
    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 31.85px;
    background: #F1F1F1;
    &__social{
        margin-bottom: 38px;
        &-icons{
            list-style-type: none;
            padding: 0;
            display: flex;
            margin-left: 92px;
            &-wrapper{
                margin-right: 32px;
            }
        }
    }
    &__develop{
        display: flex;
        justify-content: center;
        &-title{
            font-weight: 700;
            font-size: 19px;
            line-height: 18px;
            margin-right: 27px;
        }
    }
    &__logo{
        display: none;
    }
}

@media (min-width: 768px) {
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 43px 50px 0px;
        &__logo{
            display: block;
            width: 101.74px;
            height: 34px;
            margin-top: 8px;
        }
        &__develop{
            & img{
                height: 34px;
                width: 26.78px;
                margin-top: 9px;
            }
        }
        &__social{
            &-icons{
                margin-left: 28px;
            }
        }
        &-form{
            margin-top: 30px;
        }
    }
}

@media (min-width: 1150px) {
    .footer{
        margin-top: 25px;
    }
}