.main-header{
    position: relative;
    margin-top: 9px;
    &__logo{
        &-main{
            width: 85.97px;
            height: 34.92px;
            padding-right: 66px;
        }
        &-background{
            display: none;
            width: 114px;
            height: 46px;
        }
        &-desktop{
            display: none;
            width: 149px;
            height: 72px;
        }
        &:hover{
            opacity: .6;
        }
        &:active{
            opacity: .3;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 27px;
        padding: 90px 52px 30px;
        text-align: center;
        line-height: 30px;
        margin: 0;
        &-catalog{
            padding: 74px 9px 73px 9px;
            background-color: #F1F1F1;
            margin-top: 15px;
        }
    }
    &__subtitle{
        font-size: 13px;
        margin: 0;
        line-height: 24px;
        padding: 17px 30px 20px 31px;
    }
    &__wrapper{
        background-position-x: center;
        background-size: 600px;
        position: relative;
        &-image{
            position: absolute;
            z-index: -3;
        }
    }
    &__inner{
        margin-top: 85px;
    }
    &__content{
        display: flex;
        &-title{
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 23px 31px 32px 32px;
        }
        &-image{
            margin-right: 24px;
            &.interior-image{
                margin-right: 34px;
            }
        }
        &.content-interior{
            background-color: #63D1BB;
        }
        &.content-toys{
            background-color: #56C3B2;
        }
        &:hover.content-interior{
            background-color: #59D5BC;
        }
        &:hover.content-toys{
            background-color: #46C1AE;
        }
    }
    &__container{
        display: flex;
        justify-content: end;
        margin: 15px 15px -6px 0px;
        padding-bottom: 4px;
        background: #FFFFFF;
    }
}

@media (min-width: 768px) {
    .main-header{
        &__logo{
            z-index: 2;
            &-main{
                display: none;
            }
            &-background{
                display: block;
                margin-left: 48px;
            }
            &-desktop{
                display: none;
            }
        }
        &__container{
            display: flex;
            justify-content: space-between;
            padding: 7px 17px 19px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0;
        }
        &__title{
            font-size: 43px;
            line-height: 50px;
            padding-top: 157px;
            &-catalog{
                margin-top: 0;
                padding-top: 100px;
                &::after{
                    position: absolute;
                    content: "";
                    background-image: url(../img/waves.svg);
                    min-width: 768px;
                    height: 23px;
                    bottom: -14px;
                    left: 0;
                    z-index: 1;
                }
            }
            &-form{
                &::after{
                    bottom: 136px;
                }
            }
        }
        &__wrapper{
            padding: 0px 50px;
            position: relative;
            &-image{
                left: 0px;
            }
            &::after{
                position: absolute;
                content: "";
                background-image: url(../img/waves.svg);
                min-width: 768px;
                height: 23px;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }
        &__inner{
            margin-top: 336px;
            display: flex;
        }
        &__content{
            margin-top: 5px;
            &-title{
                padding: 25px 35px 40px 37px;
                line-height: 31px;
            }
            &-image{
                width: 60px;
                height: 60px;
                margin-right: 34px;
                margin-top: 30px;
                &.interior-image{
                    margin-right: 40px;
                    margin-left: -22px;
                    width: 40px;
                    height: 62px;
                }
            }
            &:hover{
                margin-top: 0;
            }
        }
        &__subtitle{
            margin-top: 55px;
            padding: 15px 50px 20px 49px;
            line-height: 30px;
            font-size: 17px;
        }
    }
}

@media (min-width: 1150px) {
    .main-header{
        &__logo{
            margin-left: auto;
            margin-right: auto;
            &-main{
                width: 149px;
            }
            &-background{
                display: none;
            }
            &-desktop{
                display: block;
                margin: -12px 0 6px 35px;
            }
        }
        &__title{
            font-size: 53px;
            padding: 165px 116px 24px;
            &-catalog{
                padding-top: 107px;
                padding-bottom: 94px;
                font-size: 53px;
                &::after{
                    background-image: url(../img/wave-desktop.svg);
                    min-width: 1150px;
                    bottom: -9px;
                }
            }
            &-form{
                &::after{
                    bottom: 192px;
                }
            }
        }
        &__container{
            padding-bottom: 0;
            margin-bottom: -1px;
        }
        &__subtitle{
            padding: 66px 218px 20px 226px;
        }
        &__wrapper{
            &::after{
                background-image: url(../img/wave-desktop-main.svg);
                width: 1150px;
                bottom: -4px;
            }
        }
        &__inner{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__content{
            justify-content: space-between;
            &-title{
                flex-basis: min-content;
                padding-bottom: 29px;
            }
        }
    }
}