.main-nav{
    padding-right: 18px;
    &--opened{
        & .main-nav__wrapper{
            display: none;
        }
        & .button-opened{
            display: block;
        }
    }
    &--nojs{
        &:focus-within .main-nav__wrapper{
            display: block;
        }
    }
    &--closed{
        & .main-nav__wrapper{
            display: block;
        }
        & .button-closed{
            display: block;
        }
        & .button-opened{
            display: none;
        }
    }
    &__sale{
        &-block{
            display: none;
        }
        &:hover{
            opacity: 0.6;
        }
        &:active{
            opacity: 0.3;
        }
    }
    &__toggle{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin: 6px -3px 0 0;
        &-js{
        &:focus .button-closed{
            display: block;
        }
        &:focus .button-opened{
            display: none;
        }
        }
    }
    &__list{
        padding: 0;
        &.site-list{
            margin-top: 9px;
        }
        &.user-list{
            margin-top: -17px;
        }
        &-item{
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            list-style-type: none;
            text-align: left;
            padding: 40px 59px 14px 77px;
            a{
                color: #000000;
                text-decoration: none;
            }
            a:focus{
                display: block;
            }
            & svg{
                opacity: 0.2;
            }
            &:hover svg{
                fill: #63D1BB;
                opacity: 1;
            }
            &-delivery{
                display: none;
            }
            &:hover{
                opacity: 0.6;
            }
            &:active{
                opacity: 0.3;
            }
        }
    }
    &__icon{
        margin-left: -44px;
        margin-right: 22px;
        width: 20px;
        height: 20px;
    }
    &__wrapper{
        display: none;
        background-color: #FFFFFF;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        min-height: 316px;
        left: 0;
        margin-top: 8px;
    }
}

@media (min-width: 768px) {
    .main-nav{
        &--opened {
            & .main-nav__wrapper{
                display: grid;
            }
        }
        &__toggle{
            display: none;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 0;
            background-color: transparent;
            min-height: 151px;
            margin: 0 40px 0 40px;
            &:focus{
                display: flex;
            }
        }
        &__list{
            &.site-list{
                display: flex;
                grid-row: 2;
                margin: 0;
                padding: 0;
            }
            &.user-list{
                display: flex;
                grid-row: 1;
                margin: 0;
                grid-column: 2;
                padding: 0;
                justify-content: end;
            }
            &-item{
                padding: 10px;
                margin: 0;
                &-search{
                    visibility: hidden;
                    width: 0;
                    & svg{
                        visibility: visible;
                    }
                }
                &-invisible{
                    width: 0;
                    height: 0;
                }
                &-visible{
                    font-size: 17px;
                    margin-left: 66px;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: -16px;
                        left: -153px;
                        height: 82px;
                        width: 1px;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: -16px;
                        left: -70px;
                        height: 82px;
                        width: 1px;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                &-catalog{
                    margin-right: 18px;
                    font-size: 15px;
                }
                &-order{
                    font-size: 15px;
                    margin-right: 18px;
                }
                &-delivery{
                    display: block;
                    grid-row: 2;
                    grid-column: 2;
                    padding: 10px;
                    margin: 0;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-align: end;
                }
            }
        }
    }
}

@media (min-width: 1150px) {
    .main-nav{
        &__wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &__list{
            &.site-list{
                grid-column: 1/3;
                grid-row: 1;
            }
            &.user-list{
                grid-column: 3/5;
                grid-row: 1;
            }
            &-item{
                &-delivery{
                    grid-column: 4;
                    grid-row: 2;
                    margin-left: -24px;
                }
                &-catalog{
                    font-size: 17px;
                    margin-right: 50px;
                }
                &-order{
                    font-size: 17px;
                }
            }
        }
        &__sale{
            text-decoration: none;
            margin-right: 62px;
            color: #000000;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            &-block{
                display: flex;
                justify-content: space-between;
                inline-size: max-content;
                margin-left: 12px;
                margin-top: 12px;
            }
        }
    }
}