@import "blocks/fonts.scss";
@import "blocks/container.scss";
@import "blocks/body.scss";
@import "blocks/main-container.scss";
@import "blocks/button.scss";
@import "blocks/main-nav.scss";
@import "blocks/product-week.scss";
@import "blocks/main-header.scss";
@import "blocks/about.scss";
@import "blocks/slider.scss";
@import "blocks/arrows.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/catalog-products.scss";
@import "blocks/production.scss";
@import "blocks/form-products.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/fieldset.scss";
